<%- include("header") -%>

<div class="box" id="heading">
    <h1>ABOUT</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Nostrum ullam aperiam amet culpa blanditiis, 
        aliquid et cum facilis assumenda earum!
    </p>
</div>

<%- include("footer") -%>